html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

figure {
  width: 100%;
  text-align: center;
}

figure iframe {
  aspect-ratio: 200 / 113;
  width: 100%;
  max-width: 400px;
  height: auto;
}